.my-overlay-container{
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .block{
      width: 80%;
      padding:13px 13px;
      text-align: center;
      background: $orange;
      h3{
        height: 17px;
        line-height: 17px;
        // margin: 14px 0 10px 0;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 12px;
        color: $white;
      }
      .poster-container{
        margin-top: 10px;
        background: $white;
        padding: 15px;
        .poster-pic{
          position: relative;
          height: 230px;
          overflow: hidden;
          &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 34px;
            display: block;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.87), #ffffff);

          }
          img {
            width: 100%;
          }
        }
        .poster-logo {
          margin-top: 4px;
          margin-bottom: 24px;
          img {
            width: 120px;
            height: 36px;
            object-fit: cover;
          }
        }
      .poster-qr-code {
       margin-bottom: 14px;
       transform: translateX(33%);
        }
        p {
          height: 23px;
          line-height: 23px;
          letter-spacing: 3px;
          font-size: 14px;
          font-weight: 400;
          color: $gray-5;
        }    
      }
    }
    .close {
      width: 36px;
      height: 36px;
      margin-top: 17px;
      background-image: url('../../assets/close.png');
      background-size: 100%;
    }
  }
}